/* Custome CSS */

.margin-top{
	margin-top: 25px;
}

.margin-bottom{
	margin-bottom: 25px;
}
.margin-right{
	margin-right: 25px;
}

.bg-purple {
    background-color: var(--purple);
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .09);
}